<!--<div class="container-fluid full-width-image"></div>-->
<section id="careers">
    <div class="section-content">
        <img src="/assets/Images/careers.jpg" alt="about us Image" class="img-responsive">

        <div class="container">
            <h5>Grow your with us</h5>
            <hr>
            <p class="text-justify">If you're looking for an exciting, rewarding career in IT, software development, you'll find ample opportunities at Sharavathi Technologies.
            </p>
            <p class="text-justify">
                To apply for a challenging and fulfilling position in a fast-paced environment with our skilled and supportive team, please send your resume to <i>careers@sharavathitechnologies.com</i>
            </p>
        </div>
    </div>
</section>