<section id="about">
  <div class="section-content">
    <img src="/assets/Images/about.jpg" alt="about us Image" class="img-responsive">

    <div class="container">
      <h5>About Us</h5>
      <hr>
      <p class="text-justify">
        Sharavathi Technologies is a Bangalore based service oriented company founded in 2013, Sharavathi Technologies offering complete
        equipment design concept and controls design, automation solutions in the areas of Special purpose machine, over
        head power and free conveyor (P&F) automated electrified monorail system( AEMS), Coal & Bio mass Handling plant,
        Packaging machines, Belt conveyor, Chain conveyor system to various industrial customers. In addition to engineering
        and design competency and services, also Sharavathi Technologies has specialized in installation and commissioning
        systems for industries. Sharavathi Technologies has experienced engineers for system design, PLC, SCADA software
        development, installation, Commissioning & supervision, start-up assistance and operator training. We are particularly
        experienced designing and building complete plc programming for machines, material handling and related controls
        and software development. Our experienced team of engineers and supplier partners insure that the solution is on-time
        and always performs beyond the customer's expectations. Sharavathi Technologies is a nationally recognized company
        serving several market segments in the India and abroad with key disciplines in custom design equipment, continuous
        and after sale support and ongoing problem solving skills.
      </p>
    </div>
  </div>
</section>
