<div id="food-beverage">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-6">
        <img src="/assets/Images/food-beverage.jpg" alt="food-beverage Image" class="img-responsive">
      </div>
      <div class="col-6">
        <h5>Food-Beverage</h5>
        <br>
        <p class="text-justify">The Food-Beverage industry continues to evolve at an incredible pace. However, your goal essentially remains the
          same, to operate more efficiently and get products to market faster.
        </p>
        <p class="text-justify">Our manufacturing solution expertise, strategic relationships, and automation and control solutions span the entire
          automotive supply chain. Based on the requirements of the various conveyor technology elements. Our solutions help you meet the complex and changing world of modern food and beverage packaging. With the proliferation
          of SKUs and labels, there is a need for sustainable materials, retail-ready packaging, and better pallet usage.
          Flexible packaging is more important than ever. We address these needs with RAPID Line Integration™, a configurable
          line control solution that offers: Built-in line performance management Flexible approach to integrating discrete
          manufacturing lines Setup, control, and analysis of an entire line from one location
        </p>
        <p class="text-justify">We offer the right solutions for electro-technical systems, automation, drive technology and visualization. The smooth
          integration of information and automation technology throughout the entire value chain – for highly flexible, individualized,
          and efficient production, We see ourselves as a competent solution partner for your automation requirements. We
          offer a perfectly coordinated portfolio covering all your automation requirements. Together with deep know-how
          of automation and electro-technics in the food-beverage industry, we are your competent lifecycle partner.
        </p>
        <a class="btn btn-outline-info" (click)="goBack()">Go Back</a>
      </div>
    </div>
  </div>
</div>
