<footer class="container-fluid footer-links">
    <!-- <div class="justify-content-center align-items-center flex-wrap"> -->
    <div class="copyright">
        <span>Copyright &copy; 2017 Sharavathi Technologies</span>
    </div>
    <div class="company">
        <a routerLinkActive="active" routerLink="/ ">Home</a>
        <a routerLinkActive="active" routerLink="/about ">About us</a>
        <a routerLinkActive="active" routerLink="/terms/ ">Terms</a>
        <a routerLinkActive="active" routerLink="/terms/privacy/ ">Privacy</a>
    </div>
    <div class="social-links">
        <a class="p-2" [href]="facebookLink " target="_newtab "><i class="fa fa-facebook "></i></a>
        <a class="p-2" [href]="twitter " target="_newtab "><i class="fa fa-twitter "></i></a>
        <a class="p-2" [href]="googlePlus " target="_newtab "><i class="fa fa-google-plus "></i></a>
        <a class="p-2" [href]="youtube " target="_newtab "><i class="fa fa-youtube "></i></a>
        <a class="p-2" [href]="linkedin " target="_newtab "><i class="fa fa-linkedin "></i></a>
    </div>
    <!-- </div> -->
</footer>