<footer id="footer-main">
    <div class="container">
        <div class="row" id="st-footer">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item">
                    <p class="nav-link pr-5">Copyright &copy; 2017 Sharavathi Technologies</p>
                </li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link pr-3" routerLink="/">Home</a></li>
                <!--<li class="nav-item"><a class="nav-link pr-3" href="">what we do</a></li>-->
                <li routerLinkActive="active" class="nav-item"><a class="nav-link pr-3" routerLink="/about">About us</a></li>
                <!--<li class="nav-item"><a class="nav-link pr-3" href="">latest</a></li>-->
                <li routerLinkActive="active" class="nav-item"><a class="nav-link pr-3" routerLink="/terms/">Terms</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link pr-3" routerLink="/terms/privacy/">Privacy Policy and Cookie Policy</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link pr-3" routerLink="/terms/copyright/">Intellectual Property</a></li>
            </ul>
            <ul class="nav navbar-nav flex-row ml-auto">
                <li class="nav-item"><a class="nav-link pr-3" href="https://www.facebook.com/sharavathitechnologies/" target="_newtab"><i class="fa fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link pr-3" routerLink=""><i class="fa fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link pr-3" routerLink=""><i class="fa fa-google-plus"></i></a></li>
                <li class="nav-item"><a class="nav-link pr-3" routerLink=""><i class="fa fa-youtube"></i></a></li>
                <li class="nav-item"><a class="nav-link pr-3" routerLink=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</footer>