<div id="automotive">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="img-responsive float-left col-sm-6" src="/assets/Images/automotive.jpg" alt="Automative Image">
                <h5>Automotive</h5>
                <br>
                <p>The automotive industry continues to evolve at an incredible pace. However, your goal essentially remains the same, to operate more efficiently and get products to market faster.
                </p>
                <p> Our automotive manufacturing expertise, strategic relationships, and automation and control solutions span the entire automotive supply chain. Based on the requirements of the various conveyor technology elements.
                </p>
                <p>We offer the right solutions for electro-technical systems, automation, drive technology and visualization. The smooth integration of information and automation technology throughout the entire value chain – for highly flexible, individualized,
                    and efficient production, We see ourselves as a competent solution partner for your automation requirements. We offer a perfectly coordinated portfolio covering all your automation requirements. Together with deep know-how of automation
                    and electro-technics in the automotive industry, we are your competent lifecycle partner.
                </p>
                <a class="btn btn-outline-info float-right" (click)="goBack()">Go Back</a>
            </div>
        </div>
    </div>
</div>