 .navbar-brand {
     color: #CC164D;
     font-weight: 400;
 }
 
 .navbar {
     background-color: white;
     height: 3rem;
     border-bottom: solid 1px #f5f5f5;
 }
 
 a.nav-link:hover,
 a.nav-link.active {
     color: red !important;
 }