img {
  max-width: 100%;
}

#our-solutions {
  margin-top: 4rem;
}


/*.full-width-image {*/


/*height: 20rem;*/


/*width: 100%;*/


/*background: url("/assets/Images/solution.jpg") no-repeat center center fixed;*/


/*background: url("/assets/Images/solution.jpg");*/


/*background-size: cover;*/


/*border: solid 1px green;*/


/*margin-top: 3rem;*/


/*}*/


/*.container{
  margin-top: 1rem;
}

.container-fluid {
  margin-top: 4rem;
}*/
