<!--<div class="container-fluid full-width-image"></div>-->
<div id="services">
    <div class="section-content">
        <section id="services">
            <div class="section-content">
                <img src="/assets/Images/services.jpg" alt="Services Image" class="img-responsive">
                <div class="container">
                    <h5>Services</h5>
                    <hr>
                    <p class="text-justify">
                        PLC / HMI Programming Programmable Logic Controller (PLC) Program Development & System Design PLC programming service for various PLC vendors. Operator interface program development. Fully documented ladder and logic programs. Human Machine Interface
                        (HMI) / Supervisory Control and Data Acquisition (SCADA) Software Development HMI/SCADA Software Project Development for Various Software Vendors Graphical Animation of Process Data Process Data Entry and Display Alarming and Annunciation
                        Trending of Process Data Control Panel design- Electrical CAD Services -ePlan Services Building Information Modeling using Revit MEP Duct system Design Sprinkler system Design Plumbing system Design Lighting fixture layout with
                        calculation Total power requirement calculations Cable tray layout Design Schedules and reports Genration
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>