<div id="software-developement">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="/assets/Images/software-development-1.jpg" alt="Software-development Image" class="img-responsive">
      </div>
      <div class="col-6">
        <h5>Software Developement</h5>
        <br>
        <p class="text-justify">We don’t just create custom software, we build solutions to your business problems. </p>
        <p class="text-justify">Our solutions help you meet the industry and technology-specific expertise to address your unique challenges. Through
          reduced project risk and solutions specific to your needs, we help you accomplish a profitable, safe, and sustainable
          operation.
        </p>
        <a class="btn btn-outline-info" (click)="goBack()">Go Back</a>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h5>Web Application Development</h5>
        <br>
        <p class="text-justify">We have built all sorts of web-applications from online forms to whole management systems. We work on projects both
          big and small.</p>
        <p class="text-justify">The primary purpose of a website is to deliver information. The primary purpose of a Web Application is to facilitate
          the interaction between two people, a person and a database, a person and a group of people, etc. In practice,
          they are built with relatively the same technology, however, web-applications are more complex and integrate with
          more external systems.
        </p>
        <a class="btn btn-outline-info" (click)="goBack()">Go Back</a>
      </div>
      <div class="col-6">
        <img src="/assets/Images/web-development.jpg" alt="Web-development Image" class="img-responsive">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <img src="/assets/Images/website-development.jpg" alt="Software-development Image" class="img-responsive">
      </div>
      <div class="col-6">
        <h5>Website Developement</h5>
        <br>
        <p class="text-justify">We don’t just create custom software, we build solutions to your business problems. </p>
        <p class="text-justify">Our solutions help you meet the industry and technology-specific expertise to address your unique challenges. Through
          reduced project risk and solutions specific to your needs, we help you accomplish a profitable, safe, and sustainable
          operation.
        </p>
        <a class="btn btn-outline-info" (click)="goBack()">Go Back</a>
      </div>
    </div>
  </div>


  <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <p class="text-justify">
          We build and maintain software that companies count on Consulting Services We can help translate complex business problems
          into software solutions. Whether you have a new product that needs development, existing software that needs upgrading,
          or are simply unsure of the path forward. Our consultants are here to help. Operational Software We can develop
          new operational software to help you run and optimize your business. If you have existing software that needs upgrades
          or maintenance, we can help with that too. Business Intelligence Understanding your business is often the key to
          your path forward. We can deploy existing software, or build custom solutions to help you analyze, study, and optimize
          your business. Web and Mobile Apps Our specialty is web and mobile applications. More and more software of today
          is executed in this way, because it's more cost effective for development and can quickly be written and deployed.
          ERP/CRM Integration We have experience with many different ERP and CRM platforms. These days, most software needs
          to interact with other applications and databases. We've done it all, so we're familiar with what works and what
          doesn't. Bar-codes and RFID Working with many organizations, we have used these technologies to increase efficiency,
          accountability, speed, and improve tracking to allow the companies to grow. Ask one of our consultants how this
          technology can help you. Databases and SQL We know databases backwards and forwards, whether you are using MSSQL,
          Oracle, MySQL, Aurora, etc., we can help you maintain and expand your database for your needs. To find out how
          we can help you with your project: Technologies We Use We don't just give you a working, e-commerce website; we
          ensure it is working for you. Where it's hosted, how it's secured, how it's maintained, and the third-party services
          used to keep it humming, are of the utmost importance. We've been around the block, so we've had the pleasure to
          work with all sorts of technologies and know what works best for all different types of scenarios. For Hosting:
          More expensive, but faster, more dependable, more extensible hosting. For Security: We protect our websites using
          2048 bit SSL certificates. For Credit Card Processing: We always recommend Authorize.net for CC transactions. Supports
          more, and always works. For Shipping: For Prototyping Hardware: For E-Commerce: For Development We only use industry
          standard programming languages and databases, so that our code is as flexible andadaptable as possible.
        </p>
      </div>
    </div>
  </div>