<div class="container privacy">
    <h6>Privacy polices</h6>
    <p>
        <!-- <em>Last updated on 20th July 2017</em></p> -->
        <p>Sharavathi Technologies is committed to respect your privacy and choices while using our website. The statement highlights our privacy practices regarding Personal Information that we hold about you.</p>
        <p>
            <strong class="list-item">Personal Information we may collect and process:</strong></p>
        <p>For the purposes of this privacy statement, 'Personal Information' is any data which relates to an individual who may be identified from that data, or from a combination of a set of data, and other information which is or may be in possession
            of Sharavathi Technologies.
        </p>
        <p>In general, you may browse our website without providing any Personal Information about yourself. However, certain information such as your IP address, demographics, your computers’ operating system, and browser type may be collected in order
            to provide better usability, troubleshooting, site maintenance, and to understand which parts of the website are visited and how frequently.</p>
        <p>When you register on our website or would like to comment on our content, we may require you to provide us with certain Personal Information such as your name, email address, designation, company, country and telephone number, for one or more
            of the following purposes: user ID creation, identifying you, contacting you and provide access to desirable content based on your preferences. While accessing certain sections of the Sharavathi Technologies website such as Recruitment and
            Global Alumni Portal, you may also be required to provide additional Personal Information for Sharavathi Technologies to process the corresponding request.</p>
        <p>
            <strong class="list-item">Consequences of not providing Personal Information:</strong></p>
        <p>If you choose not to provide your Personal Information that is mandatory to process your request, we may not be able to provide the corresponding service.</p>
        <p>
            <strong class="list-item">Data recipients, transfer, and disclosure of Personal Information:</strong></p>
        <p>Sharavathi Technologies does not share your Personal Information with third parties for marketing purposes without seeking your prior permission. Sharavathi Technologies will seek your consent prior to using or sharing Personal Information for
            any purpose beyond the requirement for which it was originally collected.</p>
        <p>We may share your Personal Information within Sharavathi Technologies or with any of its subsidiaries, business partners, service vendors, authorized third-party agents, or contractors located in any part of the world for the purposes of data
            processing, storage, or to provide a requested service or transaction, after ensuring that such entities are contractually bound by data privacy obligations.</p>
        <p>When required, Sharavathi Technologies may disclose Personal Information to external law enforcement bodies or regulatory authorities, in order to comply with legal obligations.</p>
        <a name="cookiesstatement" id="cookiesstatement"></a>
        <p>
            <strong class="list-item">Access, correction, objection of your Personal Information:</strong>
            <p>Depending on local law, you may access, update, or correct your Personal Information that we hold, including your profile and preferences. You may do so in the corresponding sections where such information was provided. If you have difficulty
                in updating or accessing your Personal Information as stated above, you may contact us at
                <a href="mailto:privacy@sharavathitechnologies.com" title="privacy@sharavathitechnologies.com">privacy@sharavathitechnologies.com</a></p>
            <p>
                <strong class="list-item">Data security</strong></p>
            <p>Sharavathi Technologies adopts reasonable and appropriate security practices and procedures that includes administrative, physical security, and technical controls in order to safeguard your Personal Information.</p>
            <p>
                <strong class="list-item">Data retention</strong></p>
            <p>Sharavathi Technologies may retain your Personal Information as long as there is a business requirement, or if otherwise required under applicable laws.</p>
            <p>
                <strong class="list-item">Linked websites</strong></p>
            <p>Sharavathi Technologies may provide links to third-party websites and services. However, Sharavathi Technologies is not responsible for the privacy statements, practices, or the contents of such third-party websites.</p>
            <p>
                <strong class="list-item">How to contact us</strong></p>
            <p>If you have any questions regarding our privacy practices or this privacy statement, you may contact us at:<br> Contact person: Prashanth GU<br> Contact address: Sharavathi Technologies, Bangalore, India
                <br> Phone: +91 9900569550<br> Email:
                <a href="mailto:privacy@sharavathitechnologies.com" title="privacy@sharavathitechnologies.com">privacy@shavarathitechnologies.com</a></p>
            <p>
                <strong class="list-item">Updates to this privacy statement</strong></p>
            <p>Sharavathi Technologies may change the data privacy practices and update this privacy statement as and when the need arises, and the same will be made available on the website. But our commitment to protect the privacy of website users will
                continue to remain.</p>
</div>