<!-- <div class="full-width-image"></div> -->
<div id="industry-parent">
  <section id="industry" class="full-width-image">
    <div class="section-content">
      <img src="/assets/Images/industry.jpg" alt="Industry Image" class="img-responsive">
      <div class="container">
        <h2>Industries</h2>
        <p class="lead text-justify">We gained solid expertise in design, developement and tesing in application Software Developement, industrial automation
          solutions for major industries, we are ready to undertake your challenges
        </p>
        <hr>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="assets/Images/industry-1.jpg" alt="Card image cap">
            <div class="card-block">
              <h5 class="card-title">Automotive</h5>
              <p class="card-text text-justify">The automotive industry continues to evolve at an incredible pace. However, your goal essentially remains the
                same: to operate more efficiently and get products to market faster. Our automotive manufacturing....</p>
              <a class="btn btn-outline-info" routerLink="automotive">learn more...</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/Images/industry-2.jpg" alt="Card image cap">
            <div class="card-block">
              <h5 class="card-title"> Oil & Gas</h5>
              <p class="card-text text-justify">Integrated control, power, and safety solutions reliable Systems enable full visibility and safe operations
                offshore operations present numerous challenges...</p>
              <a class="btn btn-outline-info" routerLink="oil-gas">learn more...</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/Images/industry-3.jpg" alt="Card image cap">
            <div class="card-block">
              <h5 class="card-title">Food and Beverage</h5>
              <p class="card-text text-justify">Our automation solutions help you meet the complex and changing world of modern food and beverage packaging.
                With the proliferation of SKUs and labels....
              </p> <a class="btn btn-outline-info" routerLink="food-beverage">learn more...</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/Images/industry-4.jpg" alt="Card image cap">
            <div class="card-block">
              <h5 class="card-title">Software Developement</h5>
              <p class="card-text text-justify">Whether you are a start-up or an established business, we are ready to assist you at every stage of the software
                development life cycle — from conceptualization and consulting to development and support...</p>
              <a class="btn btn-outline-info" routerLink="software-developement">learn more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
