<div id="oil-gas">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="img-responsive float-left col-sm-6" src="/assets/Images/oil-gas.jpg" alt="Oil & Gas Image">
                <h5>Oil & Gas</h5>
                <br>
                <p class="text-justify">Integrated control, power, and safety solutions reliable Systems enable full visibility and safe operations offshore operations present numerous challenges that include: Difficult environmental conditions Demanding control requirements
                    strict safety regulations Our open systems enable ease of integration, from subsea to topside, and from process control to motor control. Our capabilities add analytic tools for improved operations and faster decision-making.
                </p>
                <p class="text-justify">Our solutions help you meet the industry and technology-specific expertise to address your unique challenges. Through reduced project risk and solutions specific to your needs, we help you accomplish a profitable, safe, and sustainable
                    operation.
                </p>
                <p class="text-justify">We offer the right solutions for electro-technical systems, automation, drive technology and visualization. The smooth integration of information and automation technology throughout the entire value chain – for highly flexible, individualized,
                    and efficient production, We see ourselves as a competent solution partner for your automation requirements. We offer a perfectly coordinated portfolio covering all your automation requirements. Together with deep know-how of automation
                    and electro-technics in the food-beverage industry, we are your competent lifecycle partner.
                </p>
                <a class="btn btn-outline-info float-right" (click)="goBack()">Go Back</a>
            </div>
        </div>
    </div>
</div>